/* override css styles of the main theme here */
@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


.content:dir(rtl) * {
    font-family: 'Dubai-Regular', sans-serif;
    font-size: 18;
    text-align: justify;
}

.content:dir(rtl) h1 {
    font-family: 'Dubai-bold', sans-serif !important;
}
